body{
  font-family: "Overpass", sans-serif;
  color:#FFFFFF;
  font-size: 36px;
  font-weight: 200;
  text-align: center;
  background: #c0c0c0;
}

h1{
    font-size:7vw;
    text-align: left;
    font-family: "Monoton", sans-serif;
    text-transform: uppercase;
    margin-top:-0.1vw;
}

p{
    font-size:3vw;
    text-align: left;
    font-variant: small-caps;  
}

a {
  display: inline-block;
  text-decoration:none;
}

.profilepic{
    width:100%;
    height:100%;
    border-radius:50%;
    box-shadow:  40px 40px 70px #a3a3a3, 
             -29px -29px 57px #dddddd;
    order:none;
}

.button {
  color:#ededed;
  text-align: center;
  width: 10vw;
  height: 10vw;
  line-height: 11vw;
  font-size: 5vw;
  border-radius: 50%;
  border: none;
  background: #c0c0c0;
  box-shadow:  10px 10px 20px #a3a3a3, 
             -10px -10px 20px #dddddd;
  transition: all 0.2s, font-size 0s, color 0s, line-height 0.1s;
  cursor: pointer;
}

.button:hover {
        transition: color 0.5s, line-height:0.6s;
        box-shadow: 10px 10px 20px rgba(150, 150, 150, 1),
          -10px -10px 20px rgba(240, 240, 240, 1);
        text-transform: uppercase;
        color:#000040;
        font-size:1.4vw;
        line-height:10vw;
    }

.button:hover span {display:none}
.button:hover:before {
    content:""attr(name)"";
    transition: content 0.4s ease-in-out;
}

.button:active{
    color:#01579b;
  box-shadow: inset 20px 20px 60px #a3a3a3, 
    inset -20px -20px 60px #dddddd;
}

.grid_container {
  display: grid;
  grid-template-columns:auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid_container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.container{
  box-shadow:  20px 20px 60px #a3a3a3, 
             -20px -20px 60px #dddddd;
  border-radius:50px;
}
